.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(230, 228, 228);
    &__userinfo{
        display: flex;
        align-items: center;
        & > span {
            margin-right: 20px;
        }
    }
}